.card {
  height: 236px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

.dropdown {
  width: 40px;
  height: 40px;
}

.card:hover, .card:focus-within {
  outline: 1px solid #999;
}

.imgWrapper {
  margin-right: 38px;
}

.wrapper {
  display: flex;
}

.wrapButtons {
  display: flex;
  align-items: center;
}

button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card {
  // position: relative;
  background-color: #FFF;
  border-radius: 7px;
  //padding: 20px 20px 10px;
  display: flex;
  // flex-flow: row wrap;
}

.previewImg {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.card:hover h2 a, .card:focus-within h2 a {
  color: #CC6633;
}

.dropdown-content-wrapper {
  background-color: #FFFFFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.list {
  // display: flex;
  // flex-direction: column;
  // align-items: flex-start;
  padding: 7px 20px;
}

.item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 7px 5px;
  font-size: 14px;
  color: #999;

  &:not(:last-of-type):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ECECEC;
  }

  &:hover {
    color: #CC6633;
  }
}

.buttonClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 11px;
  background-color: #D9D9D9;
  color: #666;
}
