$orange: #CC6633;

.avatar {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.text {
  margin: 0;
  font-size: 20px;
  transition: color 0.3s;
}

.button {
  display: flex;
  align-items: center;

  &:hover {
    & .text {
      color: $orange;
    }

    & .avatar {
      border: 2px solid $orange;
    }
  }
}


@media (max-width: 1024px) {
  .text {
    display: none;
  }
}
